<div>
    <div class="card-body">
        <img [src]="imageAddress" />
        <div *ngIf="!user?.isAdmin">

            <p class="card-text">{{ product.name }}</p>
            <p class="card-text">
               מחיר :{{ product.price | currency:'ILS' }}
            </p>
            <button *ngIf="!item" type="button" (click)="handleAddToCart()"  mat-raised-button color="primary">הוסף לסל </button>
            <div *ngIf="item">
                <span (click)="minus()">-</span>
                <input type="number" name="qty" value="item.quantity" [ngModel]="item?.quantity"
                    (ngModelChange)="item.quantity = $event">
                <span (click)="plus()">+</span>
            </div>
        </div>

        <div *ngIf="user?.isAdmin">
            <a routerLink="/products/update/{{product._id}}" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}">Edit</a>
        </div>
    </div>

</div>