<!-- <html dir="ltr" lang="en"> -->

<!-- <div class="header-div">
    <p>שלום וברכה לרשת הסופרים הגדולה בארץ</p>
</div> -->
<!-- <div class="nav-bar-custom">
        <div class="name">
            <a>Walmart</a>
        </div>
        <div class="header-app">
            <app-auth-menu></app-auth-menu>
        </div>
    
</div> -->

<div class="nav-bar-custom">
    <div>
        <a routerLink="home"> <img src="../../../../assets/images/Walmart_logo.svg.png"></a>
       
    </div>

    <div class="authentication">
        <app-auth-menu></app-auth-menu>
    </div>
</div>