<div class="login-container">
    <div class="login-form">
        <form (submit)="update()" #formInfo="ngForm">
            <div class="inputs-container">
                <h2>עדכן מוצר </h2>
                <label>שם קטיגוריה</label>
                <select name="categoryId" [(ngModel)]="product.categoryId" #categoryInfo="ngModel" required>
                    <option *ngFor="let c of categories" value={{c._id}}>{{c.name}}</option>
                </select>
                <span *ngIf="categoryInfo.errors?.required && categoryInfo.touched">Missing Category name</span>

                <div>
                    <mat-form-field class="email-input" appearance="fill">
                        <mat-label>שם המוצר:</mat-label>
                        <input matInput placeholder="קולה" required [(ngModel)]="product.name" name="email">
                    </mat-form-field>
                </div>

                <div>
                    <mat-form-field class="email-input" appearance="fill">
                        <mat-label>מחיר:</mat-label>
                        <input matInput required type="number" [(ngModel)]="product.price" name="price">
                    </mat-form-field>
                </div>

                <label>תמונה</label>
                <input type="file" accept="image/*" name="image" [(ngModel)]="product.imageName" required
                    #imageInfo="ngModel">
                <span *ngIf="imageInfo.invalid && imageInfo.touched">חסר תמונה </span>

                <button [disabled]="formInfo.form.invalid" mat-raised-button color="primary">עדכן</button>

            </div>
        </form>

    </div>
</div>